@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Roboto:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}


/* heading and logo*/

h1, h2 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:#130a05;
}

#logo {
    float: left;
    font-size: 275%;
    margin-left: 30px;
}

/* navigation links*/

#menu {
    font-size: 140%;
    letter-spacing: 4px;
    font-weight: bold;
    color: #130a05;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu, #logo {
    line-height: 75px;
}

#menu a:hover {
    color:#b39080;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* main image*/

#main-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: white;
}

#main-image {
    height: 600px;
    width: 100%;
    background: url('../images/pexels-photo-6202958.jpeg') no-repeat center center;
    background-size: cover;

/*animates zoom efect on loading page*/
animation-name: main-zoom;
animation-duration: 5s;
animation-fill-mode: forwards;
}


/* creates the level of zoom for main image*/

@keyframes main-zoom {
from{
    transform: scale(1);
}
to{
    transform: scale(1.1);
}
}

#cover-text {
    font-size: 130%;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 250px;
    height: 200px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2%;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(29, 18, 12, 0.9);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* about us */

#about-us {
    height: 600px;
    background-color: white;
    border-top: 3px solid #130a05;
    /*background: url('../images/pexels-photo-112854.jpeg') no-repeat top center;
    background-size: cover;
    filter: brightness(120%);*/
}

#about {
    font-size: 200%;
    padding-top: 80px;
    text-align: center;
    color:   #130a05;
}

#about-us h3 {
    font-size: 125%;
    padding-top: 70px;
    padding-bottom: 80px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    color:  #130a05;
    font-family: Roboto, sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    
    
}

.king {
    font-size: 250%;
    padding-top: 40px;
}

.join-button {
    background-color: #5e3d00f2;
    color: #fafafa;
    border: 2px solid #6d5024;
    border-radius: 8%;
    padding: 5px 5px;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}

.join-button:hover {
    background-color:#ce985b;
    color:#fafafa;
}



/* tabulka */

#scheldue {
    background-color:rgba(36, 20, 11, 0.8) ;
}

#table {
    height: 400px;
    background-color:rgba(36, 20, 11, 0.8);
    padding-top: 40px;
    border-top: 3px solid #130a05;
    border-bottom: 3px solid #130a05;
}

#table h2 {
    font-size: 150%;
    padding-top: 10px;
    text-align: center;
    color:  #fafafa;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    letter-spacing: 1px;
    padding-bottom: 2.5em
}

table {
    border-collapse: collapse;
    width: 40%;
    background-color: #fff;
    font-size: 14px;
    margin-bottom: 20px;
    float: left;
    margin-left: 30%;  
    padding-top: 2px;
    box-shadow: 0 0 30px rgba(19, 10, 5, 0.925);
  }
  
  table th,
  table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    font-family: Roboto, sans-serif;
    font-size: 110%;
    font-weight: 800;
  }
  
  table th {
    background-color: rgba(29, 18, 12, 1);
    font-weight: bold;
    color: #f2f2f2;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
    font-size: 110%;
    text-align: center;
  }

  footer {
    height: 150px;
}

.social-networks {
    text-align: center;
    height: 150px;
    margin-top: 50px;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 1%;
    color: #130a05;
}

/* Form */







#f-section {
    clear: left;
    background: url("../images/pexels-photo-846070.jpeg");
    background-position: center;
    background-size: cover;
    height: 600px;
  }

  #form-container{
    padding-top: 7%;
  }
  
  .form {
    margin: 0 auto;
    padding-top: 10%;
    color: #fff;
    background-color: rgba(65, 45, 28, 0.9);
    max-width: 400px;
    padding: 30px;
    border: 2px solid #bb916d;   
    border-radius: 5%;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.9);
    text-align: center;
  }
  
  .form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
    font-size: 95%;
    
  }

  .text-input {
    margin: 5px;
    padding: 5px;
}

  .f-button {
    margin: 20px auto;
    border-radius: 5px;
    padding: 15px 30px;
    text-align: center;
    font-size: 120%;
    background-color: rgb(236, 170, 83);
    color: #181313;
    display: block;
  }
  
  .f-button:hover {
    background-color: #fada9a;
    color: #181313;
    cursor: pointer;
    
  }



  @media screen and (max-width: 1200px) {
    #about-us {
        height: 700px;
    }

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 30px;
    }
  }

  @media screen and (max-width: 800px) {
    #logo {
        width: 90%;
        font-size: 30px;
        left: 10px;
    }

    #cover-text {
        left: 0;
    }
  }

  @media screen and (max-width: 635px) {

    #about-us {
        height: 800px;
    }

    #logo {
        width: 90%;
        font-size: 17px;
        left: 5px;
    }

  }